* {
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: 'Roboto', sans-serif;
    color: #7e3f8f;
    margin-left: 7%;
}

#subtitulo {
    font-family: 'Roboto', sans-serif;
    color: #7e3f8f;
    margin-left: 10%;
}

#check {
    display: inline-block;
}

body {
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #8c86aa;
    margin-left: 35%;
    margin-top: 3%;
    justify-content: center;
    border-radius: 5px;
}

input, select, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #7e3f8f;
    border-radius: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.3em;
    color: #81559b;
    display: block;
}

fieldset .grupo .campo {
    float: left;
    margin-right: 1em;
}